<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Country Data</title>
    <link rel="stylesheet" href="../styles.css">
</head>
<body>
    <h1><span class="flash-text" style="font-weight: bold; color: blue;">Welcome to our Country Data Application</span></h2><br><br>
    <nav>
        <ul>
            <li><a href="/alldata">All Data</a></li>
            <li><a href="/viewdata">View Data</a></li>
            <li><a href="../internalAndExternalApi.html">Internal and External API</a></li><br><br><br>
        </ul>
    </nav>
    <div class="content">
        <p class="welcome-paragraph">Explore comprehensive data on countries from around the world with <span class="highlight">Country Data</span>. Discover key metrics, including cities, religion, holidays, population, GDP, and much more.</p>
        <p class="welcome-paragraph">Whether you're a researcher, student, or just curious, <span class="highlight">Country Data</span> has the information you need to understand the global landscape.</p>
    </div>
</body>
</html>




